<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- v-bind --> 
    <!-- <div id="app">
        <a v-bind:href="url">Visite o site do VueJS</a>
    </div> -->


    <!-- v-model -->
    <!-- <div id="app">

        <input type="text" v-model="message" placeholder="Digite uma mensagem">
        <p>{{ message }}</p>
    </div> -->


    v-if, v-else-if, v-else

    <div id="app">

        <p v-if="seen">Agora você  vê</p>
        <p v-else>Agora você não vê</p>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>