<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS - Diretivas v-model interligando formulario e dados</title>
</head>
<body>
    
    <div id="app">
        <h1>{{ titulo }}</h1>
        <label for="">Nome</label>

        <input type="text" v-model="nome">
        <br><br>

        <label for="">Telefone</label>
        <input type="text" v-model="telefone">
        <br><br>

        <label for="">Deseja receber nossas novidades?</label>
        <input type="radio" value="Sim" v-model="novidades"> Sim
        <input type="radio" value="Não" v-model="novidades"> Não
        <br><br>

        <label for="">Interesses</label><br>
        <input type="checkbox" value="Futebol" v-model="interesses"> Futebol<br>
        <input type="checkbox" value="Formula" v-model="interesses"> Formula 1<br>
        <input type="checkbox" value="Natação" v-model="interesses"> Natação<br>
        <br><br>

        <label for="">Como nos conheceu?</label><br>
        <select v-model="conheceu">
            <option value="">Escolha</option>
            <option value="Google">Google</option>
            <option value="Facebook">Facebook</option>
            <option value="Linkedin">Linkedin</option>
        </select>
        <br><br>

        <button>Enviar</button>
        <hr>

        Nome: {{ nome }} <br>
        Telefone: {{ telefone }} <br>
        Novidades: {{ novidades }} <br>
        Interesses: {{ interesses }} <br>
        Conheceu: {{ conheceu }} <br>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                titulo: 'Aprendendo Vue JS',
                nome: "",
                telefone: "",
                novidades: "",
                interesses: [],
                conheceu: ""
            }
        })

    </script>
</body>
</html>